.fondo {
  width: 1270px;
  padding: 30px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 25px;
}


table{
	background-color: white;
	text-align:center;
	border-collapse: collapse;
	width: 100%;
}

th, td{
	
	padding: 20px;
}

thead{
	background-color: #041558;
	border-bottom: solid 5px #05082E;
	color: white;
  text-align: center;
}

tr:nth-child(even){
	background-color: #ddd;
}
tr:hover td{
	background-color: #000000;
	color: white;
}


